* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

html, body {
    width: 100%;
    height: 100%;
}

#header {
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: purple;
}

#main-title {
    text-align: center;
    font-size: 42px;
    color: white;
    padding: 10px;
    justify-self: center;
}

#play {
    height: 30px;
    width: 60px;
    font-size: 16px;
    background-color: black;
    color: white;
    margin-left: 30px;
    padding: 0 15px;
    justify-self: flex-end;
    border-style: none;
    border-radius: 35%;

}

#bike-character {
    align-self: flex-end;
    width: 118px;
    height: 98px;
    background-image: url("../Images/Velo12.png");
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.pedestrian {
    align-self: flex-start;
    margin: 0 15px;
    width: 42px;
    height: 97px;
    background-image: url("../Images/Pieton6.png");
    background-repeat: no-repeat;
}

.car {
    align-self: flex-start;
    justify-self: flex-start;
    margin: 0 15px;
    width: 81px;
    height: 32px;
    align-self: flex-start;
    background-image: url("../Images/Car7.png");
    background-repeat: no-repeat;
}

.scooter {
    align-self: flex-start;
    margin: 0 15px;
    width: 65px;
    height: 94px;
    align-self: flex-start;
    justify-self: start;
    background-image: url("../Images/Scoot6.png");
    background-repeat: no-repeat;
}


#main-content {
    display: flex;
    height: 85%;
    width: 90%;
    margin: 20px auto;
    border: 2px solid black;
    background-image: url("../Images/game-background2.jpg");
    overflow: hidden;
}

.move {
    transform: translateY(120vh);
}

.hidden {
    visibility: hidden;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

#timer {
    border: none;
    width: 150px;
    height: 30px;
    margin-right: 30px;
}

.winning {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 24px;
    border: 6px solid black;
    width: 600px;
    height: 60px;
    background-color: purple;
    color: white;
}

#audio {
    position: absolute;
    left: 0;
}

.fa-window-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin-top: 2px;
    margin-right: 2px;
}

#rules_about_container {
    display: flex;
    flex-direction: row;
}

#rules, #about {
margin: 10px;
}


